@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

body {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.8);
}

.navbar {
  background-color: transparent; /* Ensure it's transparent to allow the App background to show through */
}

.clear {
  background-image: url("/assets/images/clear-sky.png"); /* Replace with your clear sky image path */
  background-size: cover;
  background-position: center;
}

.cloudy {
  background-image: url("/assets/images/cloudy.png"); /* Replace with your cloudy image path */
  background-size: cover;
  background-position: center;
}

.rainy {
  background-image: url("/assets/images/rainy.png"); /* Replace with your rainy image path */
  background-size: cover;
  background-position: center;
}

.snowy {
  background-image: url("/assets/images/snowy.png"); /* Replace with your snowy image path */
  background-size: cover;
  background-position: center;
}

/* Add more styles as needed */

.default-background {
  background-image: url("/assets/images/default.jpg"); /* Replace with your default image path */
  background-size: cover;
  background-position: center;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.animate-shake {
  animation: shake 0.5s ease-in-out;
}
